.contact {
  grid-column: full-start / full-end;
  background-color: $color-bg;
  display: flex;
  justify-content: center;
  color: $color-nav;

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__top {
    text-align: center;
    width: 90%;
    margin: 0 auto;

    &--header {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 4.2rem;
      margin-top: 9rem;
    }

    &--text {
      font-size: 2rem;
      line-height: 2.6rem;
      margin-top: 2rem;
    }
  }

  &__bottom {
    margin-top: 3.5rem;

    .contact__form {
      
      &--top {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      &--bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &--input {
        padding: 1.3rem 1.8rem;
        width: 24rem;
        background: #ffffff;
        border: 1px solid rgba(30, 69, 83, 0.5);
        border-radius: 2px;
        margin: 0 0 1.5rem 0;
        font-size: 1.6rem;
  
        &:first-child {
          margin-right: 1.5rem;
         }

        &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(#000, 0.1);
          border-bottom: 3px solid #55c57a;
        }

        &:focus:invalid {
          border-bottom: 3px solid #fc4f35;
        }

        @media only screen and (max-width: $bp-small) {
          width: 17rem;
        }
      }

      &--message {
        resize: none;
        background: #ffffff;
        border: 1px solid rgba(30, 69, 83, 0.5);
        border-radius: 2px;
        font-family: inherit;
        font-size: 1.6rem;
        line-height: 2.1rem;
        padding: 1.3rem 1.8rem;
        width: 49.5rem;

        &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(#000, 0.1);
          border-bottom: 3px solid #55c57a;
        }

        &:focus:invalid {
          border-bottom: 3px solid #fc4f35;
        }

        @media only screen and (max-width: $bp-small) {
          width: 35.5rem;
        }
      }

      &--btn {
        margin: 4rem 0 8rem 0;
        cursor: pointer;
      }
    }
  }
}