.showcase {
  grid-column: 1 / -1;
  display: grid;
  /* prettier-ignore */
  grid-template-columns: [full-start] 1fr [center-start] repeat(12, [col-start] minmax(min-content, 7.7rem) [col-end]) [center-end] 1fr [full-end];
  grid-gap: 1.2rem;
  background: url('../img/img-hero.png') no-repeat;
  background-position: 103% -60%;

  &__box {
    grid-column: center-start / center-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-nav;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 65%;
      height: 18.5rem;
      text-align: center;
      margin-top: 7rem;

      @media only screen and (max-width: $bp-medium) {
        width: 77%;
        margin: 0 auto;
        height: 25rem;
      }
    }

    &--header {
      font-size: 3.6rem;
      line-height: 4.7rem;
      font-weight: 700;

      @media only screen and (max-width: $bp-small) {
        line-height: 3.5rem;
        font-size: 2.5rem;
      }
    }

    &--text {
      font-size: 2rem;
      line-height: 150%;
      font-weight: 400;
    }

    &--btn {
      align-self: center;
      height: 4rem;
      padding: 1rem 4rem;
    }
  }
}
